*{
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
}
html { 
  background: url(Pictures/radio.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.header{
	height: 100vh;
	width: 100%;
	padding: 2% 2%;
	position: relative;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
}

.logo{
	width: 100;
}

.nav-links{
	padding: 28px 0;
}

.nav-links li{
	display: inline-block;
	margin: 0 15px;
}

.nav-links li a{
	text-decoration: none;
	color: white;
	padding: 5px 0;
	font-size: 30px;
	position: relative;
}

.nav-links li a::after{
	content: '';
	background: #FF0087;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}

.nav-links li a:hover::after{
	width: 100%;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	